html{
  overflow: hidden;
}
body{
  background-color: #222;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  color: whitesmoke;
  text-align: center;
  margin: 0;
}
.content{}
#player {
    width: calc(100% - 360px);
    height: 100vh;
    float: left;
    background-color: #000;
}
.playlist {
    font-weight: 100;
    text-align: left;
    width: 360px;
    height: 100vh;
    float: right;
    background-color: #333;
    overflow: scroll;
    color: lightgray;
}
.vid-link{
  padding: 12px;
  cursor: pointer;
  background-color: #222;
}
.vid-link:hover{
  background-color: #1b1b1b;
}
.vid-link.current{
  color: orange;
  border-left: 3px solid orange;
}
.title{
  padding: 16px;
  font-size: 1.06em;
  cursor: pointer;
  font-weight: 300;
  border-bottom: 1px solid #5a5a5a;
  user-select: none;
}
.title:hover{
  background-color: #444;
}
.title.lock{
  pointer-events: none;
}
.group{
  overflow: hidden;
  transition: all .15s;
}
.hidden{
  display: none;
}
